h2{
  margin-left: 10px;
}


body{
    margin: 0;
    background-color: #CEE5D0;
}

hr {
border-style: none;
border-top-style: dotted;
border-color: #FFBF86;
border-width: 5px;
width = 30px;
}

.top-container{
    background-color: #CEE5D0;
    margin: 0;

}

.middle-container{
    background-color: #F3F0D7;
    padding-bottom: 5px;
}



